<div *ngIf="loading">
  <div class="login">
    <div class="row align-items-center h-100">
      <div id="logoAnim" class="mb-4 mx-auto">
        <img src="./assets/images/anim.svg" style="width: 512px" />
        <div *ngIf="!nodeStarted"><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i> Starting x42-Node...</div>
        <div *ngIf="nodeStarted">
          <svg style="margin-left:5px; margin-right:8px;" height="25px" width="25px" version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
            <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4 C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
          </svg>
          Connected to x42-Node
        </div>
        <div *ngIf="!serverStarted"><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i> Starting x42-Server...</div>
        <div *ngIf="serverStarted">
          <svg style="margin-left:5px; margin-right:8px;" height="25px" width="25px" version="1.1" id="checkmark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
          <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4 C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3" />
          </svg> Connected to x42-Server
        </div>
        <div class="loadingText mt-4 col-12 text-center">Loading, please wait...</div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loadingFailed">
  <div class="login">
    <div class="row align-items-center h-100">
      <div id="logoAnim" class="mb-4 mx-auto">
        <div class="text-center">
          <img src="./assets/images/logo-failed.png" />
        </div>
        <div class="loadingText mt-4 text-danger text-center">
          Loading Failed<br>
          <div *ngIf="nodeFailed">Unable to connect to x42 Node.</div>
          <div *ngIf="serverFailed">Unable to connect to x42 Server.</div>
          If you continue to receive this message after restarting, please have a look at the support section <a class="text-primary" (click)="openSupport()"><u>here</u></a>.
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet *ngIf="!loading && !loadingFailed"></router-outlet>
