:host
::ng-deep .ui-menubar-root-list {
  padding-left: 75px;
}

::ng-deep .ui-fieldset .ui-state-default {
  font-size: 15px;
}
::ng-deep .ui-fieldset-content-wrapper {
  font-size: 10pt;
  font-family: "Arial", "Serif", "Monospace";
  font-style: normal;
}

::ng-deep .ui-steps .ui-steps-item {
  width: 33%;
}

.setupmenu {
  float: left;
  width: 190px;
}

.setupcontent {
}

.logo {
  width: 85px;
  margin-left: 50px;
  text-align: center;
  font-size: large;
}

  .logo img {
    width: 85px;
  }


.container {
  display: grid;
}

img#logo {
  position: absolute;
  left: 0;
  margin-left: 10px;
}
