<main-menu [isUnLocked]="false"></main-menu>
<div>
  <form novalidate class="p-grid">
    <pe-steps [(activeIndex)]="activeIndex" (change)="onWizardChange($event)" class="p-col">
      <pe-step label="Getting started">
        <p-panel header="Setup">
          The xServer is for hosting distributed applications. This software is for advanced users, <a class="text-primary" (click)="openSetupGuide()"><u class="mr-1">please refer to the setup guide here.</u> <i class="fa fa-external-link"></i></a>

          <div style="margin-top: 20px;">
            <hr />
            <h5 style="font-weight: bold;">Prerequisites</h5>
            PostgreSQL
          </div>
          <div style="margin-top: 20px;">
            <hr />
            <h5 style="font-weight: bold;">Collateral</h5>
            <br />
            In this version, there are three tiers of collateral. It is required that you have the x42 collateral to run one of the tiers on xServer.
            <br /><br />
            Tier 1: 1000 x42
            <br />
            Tier 2: 20000 x42
            <br />
            Tier 3: 50000+ x42
          </div>
        </p-panel>
      </pe-step>

      <pe-step label="Main wallet">
        <create-component name="Main" filename="x42ServerMain" (isCreated)="mainWalletCreated($event)"></create-component>
      </pe-step>

      <pe-step label="Finish">
        <finalize-setup [walletComplete]="walletCreated" [databaseConnected]="databaseConnected"></finalize-setup>
      </pe-step>
    </pe-steps>
  </form>
</div>
