
<section id="content" class="light col-12 mx-auto" style="margin-top: 20px;">
  <div class="row">
    <ng-template #noAddresses>
      <div class="col-12 text-center">
        <p class="text-muted" style="font-weight: bold; font-size: 14px;">Looks like you have no addresses in your address book yet.</p>
      </div>
    </ng-template>
  </div>
  <p-table #dt [value]="addresses" [paginator]="true" [rows]="10" *ngIf="addresses; else noAddresses" [globalFilterFields]="['label']">
    <ng-template pTemplate="caption">
      <div style="display: flex;">
        <div style="text-align: left">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
        <div class="text-right" style="flex: 1;">
          <button type="button" pButton (click)="addNewAddressClicked()" label="Add New Address" class="mb-2 pr-0" icon="pi pi-plus"></button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 100px;"></th>
        <th>
          Name
        </th>
        <th>
          Address
        </th>
        <th style="width: 70px;">
          Delete
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-addressRow>
      <tr [pSelectableRow]="addressRow">
        <td>
          <button type="button" pButton (click)="sendClicked(addressRow)" label="Send"></button>
        </td>
        <td>
          {{addressRow.label}}
        </td>
        <td>
          <div class="myAddress d-inline">
            <code class="d-inline-block">{{addressRow.address}}</code>
            <p-selectButton [options]="copyType" ngxClipboard icon="pi pi-copy" (click)="copyToClipboardClicked(addressRow)"></p-selectButton>
          </div>
        </td>
        <td>
          <button type="button" pButton (click)="removeClicked(addressRow)" icon="pi pi-trash" style="margin-left: 5px;"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
