<p-panel #createWallet header="Checks">
  <ul class="checklist">
    <li *ngIf="walletCreated"><i class="pi pi-check green"></i>Main wallet created.</li>
    <li *ngIf="!walletCreated"><i class="pi pi-times red"></i>Please setup main wallet.</li>
    <li *ngIf="databaseConnected"><i class="pi pi-check green"></i>Connection with database established.</li>
    <li *ngIf="!databaseConnected"><i class="pi pi-times red"></i>Could not connect to database, Please close and install PostgreSQL, then check again.</li>
  </ul>
  <div>
    <button *ngIf="walletCreated && databaseConnected" type="button" pButton [disabled]="false" (click)="onClose()" label="Close Wizard" class="btn-block"></button>
    <!-- /SVG -->
  </div>
</p-panel>
