.LoadingDash {
  padding: 60px;
  text-align: center;
  position: relative;
}

  .LoadingDash.LoadingDashAnim {
    padding: 0 !important;
  }

  .LoadingDash:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #7B95A3;
    opacity: .75;
    border-radius: 100%;
    -webkit-animation: scaleout 1.5s infinite ease-in-out;
    animation: scaleout 1.5s infinite ease-in-out;
  }

  .LoadingDash.unset-left:before {
    left: unset;
  }

.LoadingDashWhite {
  padding: 60px;
  text-align: center;
  position: relative;
}

  .LoadingDashWhite.LoadingDashAnim {
    padding: 0 !important;
  }

  .LoadingDashWhite:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    opacity: .75;
    border-radius: 100%;
    -webkit-animation: scaleout 1.5s infinite ease-in-out;
    animation: scaleout 1.5s infinite ease-in-out;
  }

  .LoadingDashWhite.unset-left:before {
    left: unset;
  }
